<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneMan‘s Treasure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC2B0FB81E68EB39006CE4C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC2B0FD11E68EB3A006CE4C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC2B0FDC1E68EB3A006CE4C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9C60921E96E59E002B7D4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9C60A01E96E606002B7D4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
